.layout-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "left center right";
    gap: 1rem;
    align-items: start;
    min-height: 100vh;
}

.sidebar-left {
    padding: 2rem;
    grid-area: left;
    background-color: lightcoral;
}

.sidebar-right {
    padding: 2rem;
    grid-area: right;
    background-color: lightblue;
}

.post-container {
    grid-row: center;
    padding: 2rem;
    background-color: lightgray;
}


