:root {
  /* Fuentes */
  --app-font-body: 'Momo Trust Display', 'Roboto', "Helvetica Neue", Arial, sans-serif;
  --app-font-heading: 'Montserrat', sans-serif;

  /* Tokens UI */
  --app-border-radius: 8px;
  --app-gap: 12px;
}